<app-header titulo="componentes"></app-header>

<ion-content>

    <ion-content class="ion-padding">
        <ion-button>Activo</ion-button>
        <ion-button [disabled]="true">Inactivo</ion-button>
        <ion-button fill="outline">Sin relleno</ion-button>

        <ion-button>
            <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>

        <ion-button>
            <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>

        <ion-button>
            <ion-icon name="logo-youtube"></ion-icon>
        </ion-button>

        <ion-button>
            <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>

        <ion-chip>
            <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>Chip Avatar</ion-label>
        </ion-chip>


        <ion-button expand="block">Block</ion-button>
        <ion-button expand="full">Full</ion-button>

        <ion-button shape="round">Redondo</ion-button>
        <ion-button color="secondary">Color secundario</ion-button>

        <ion-searchbar show-cancel-button="focus" placeholder="Show on Focus"></ion-searchbar>

        <ion-datetime locale="es-ES"></ion-datetime>
    </ion-content>
</ion-content>