<app-header titulo="nosotros">
</app-header>

<ion-content>
    <ion-slides [options]="opcionesSlide">
        <ion-slide *ngFor="let Armadura of CubosRecientes">

            <ion-card (click)="verDetalle(Armadura.id)">
                <img [src]="Armadura.img" style="height: 30vh; width: 60vh">
                <ion-card-header>
                    <ion-card-title>Nombre:{{Armadura.nombre}}</ion-card-title>
                    <ion-card-subtitle>{{Armadura.nombre}}</ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>