<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
        <ion-title>INICIO</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="opcionesSlide">
        <ion-slide *ngFor="let personaje of personajesRecientes">

            <ion-card (click)="verDetalle(personaje.id)">
                <img [src]="personaje.image" style="height: 30vh; width: 60vh">
                <ion-card-header>
                    <ion-card-title>{{personaje.name}}</ion-card-title>
                    <ion-card-subtitle>{{personaje.gender}}</ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>