<ion-header>
    <ion-toolbar>
        <ion-title>Especificaciones De Rubik</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    <ion-item>
        <ion-avatar slot="start">
            <img [src]="DetalleCubo.img" *ngIf="DetalleCubo.img">
        </ion-avatar>
        <ion-label>
            <h1>
                {{DetalleCubo.id}}
            </h1>
            <h1>
                Colores:{{DetalleCubo.colores}}
            </h1>
            <h1>
                Altura en cm:{{DetalleCubo.altura_en_cm}}
            </h1>

            <h1>Caras:{{DetalleCubo.Caras}}</h1>
        </ion-label>

    </ion-item>

</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="arrow-round-back"></ion-icon>
                <ion-label>Regresar</ion-label>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-footer>