<ion-header>
    <ion-toolbar>
        <ion-title>Armaduras Especiales</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    <ion-card>
        <ion-card-header>
            <ion-card-title>Armaduras de Halo</ion-card-title>
            <ion-card-subtitle>Con escudo de protección</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-thumbnail slot="start">
                        <img [src]="DetalleArmadura.img" *ngIf="DetalleArmadura.img">
                    </ion-thumbnail>
                    Armadura No:{{DetalleArmadura.id}}
                </ion-item>

                <ion-item>
                    <ion-thumbnail slot="start">
                    </ion-thumbnail>
                    <ion-label> Tipo de armadura: {{DetalleArmadura.armadura}}</ion-label>
                </ion-item>

                <ion-item>
                    <ion-thumbnail slot="start">
                    </ion-thumbnail>
                    <ion-label> Color:{{DetalleArmadura.color}}</ion-label>
                </ion-item>

                <ion-item lines="none">
                    <ion-thumbnail slot="start">
                    </ion-thumbnail>
                    <ion-label>
                        Modelo:{{DetalleArmadura.modelo}}
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="arrow-round-back"></ion-icon>
                <ion-label>Regresar</ion-label>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-footer>